<li>
  <a href="{{ post.url | absolute_url }}" class="post-link">
    <div class="post-link__heading">
      {% unless post.title == "" %}
          <h1 class="post-link__title">      
            {{ post.title }}
          </h1>
      {% else %}
        {% include post-excerpt.html %}
      {% endunless %}
      {% if post.title != "" and site.show_excerpts == true %}
        {% include post-excerpt.html %}
      {% endif %}
    </div>
    <span class="post-date">
      <!-- {% if post.author and post.author != "" %} -->
        <!-- {{ post.author }}, -->
      <!-- {% endif %} -->
      {% if post.no_date != true %}
        {% assign months = "janeiro,fevereiro,março,abril,maio,junho,julho,agosto,setembro,outubro,novembro,dezembro" | split: "," %}
        {% assign m = post.date | date: "%-m" | minus: 1 %}
        {% assign day = post.date | date: "%-d" %}
        {% assign month = months[m] %}
        {% assign year = post.date | date: "%Y" %}
        {{ day }} de {{ month }}
        <!-- de {{ year }} -->
      {% endif %}
    </span>
  </a>
</li>